@model List<ApplicationListDto>

<div class="container">
    @if (Model?.Count > 0)
    {
        <div class="text-end my-3 p-1">
            <a asp-action="List" asp-controller="Application">Yeni Başvurular</a>
            <a asp-action="RejectedList" asp-controller="Application">Reddedilen Başvurular</a>
        </div>

        <table class="mt-3 table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Başvurulan İlan</th>
                    <th>Başvuran Kişi</th>
                    <th>Başvuranın Cinsiyeti</th>
                    <th>Başvuru Durumu</th>
                    <th>Askerlik Durumu</th>
                    <th>Tecil Bitiş Tarihi</th>
                    <th>İş Deneyimi</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model)
                {
                    <tr>
                        <td>@application.Advertisement.Title</td>
                        <td>@application.AppUser.FirstName @application.AppUser.LastName</td>
                        <td>@(application.AppUser.Gender.Definition==GenderType.Male.ToString()?"Erkek":(application.AppUser.Gender.Definition == GenderType.Female.ToString()?"Kadın":"Belirtilmedi"))</td>
                        <td>@(application.ApplicationStatus.Definition == ApplicationStatusType.Applied.ToString()?"Başvuruldu":(application.ApplicationStatus.Definition == ApplicationStatusType.InterviewCall.ToString()?"Mülakat Aşamasında":"Olumsuz"))</td>
                        <td>@(application.AppUser.Gender.Definition == GenderType.Male.ToString()?(application.MilitaryStatus.Definition == MilitaryStatusType.Completed.ToString()?"Tamamlandı":(application.MilitaryStatus.Definition==MilitaryStatusType.Exempt.ToString()?"Muaf":"Tecilli")):"-")</td>
                        <td>@(application.PostponeEndDate==null?"-":application.PostponeEndDate?.ToString("dd-MM-yyyy"))</td>
                        <td>@application.WorkExperience</td>
                        <td>
                            <a asp-action="SetStatus" asp-controller="Application" asp-route-applicationId="@application.Id" asp-route-type="@((int)ApplicationStatusType.InterviewCall)">Mülakata Çağır</a>
                            <a asp-action="SetStatus" asp-controller="Application" asp-route-applicationId="@application.Id" asp-route-type="@((int)ApplicationStatusType.Negative)">Reddet</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-end my-3 p-1">
            <a asp-action="List" asp-controller="Application">Yeni Başvurular</a>
            <a asp-action="RejectedList" asp-controller="Application">Reddedilen Başvurular</a>
        </div>
        <div class="mt-3 text-center lead">
            Herhangi bir başvuru bulunmamaktadır.
        </div>
    }
</div>





