@model AdvertisementListDto

<div class="container pt-5 pb-3">
    <div class="row  d-flex flex-column align-items-center">
        <div class="col-9">
            <div>
                <h2 class="text-uppercase text-primary">@Model.Title</h2>
                <p><em><strong>@Model.CompanyName, @Model.City</strong></em></p>
            </div>
            <hr />
            <div>
                <h4 class="text-center">İlan Detayı</h4>
                <p class="lh-lg" style="text-align:justify;">@Html.Raw(Model.Description)</p>
            </div>
            <hr />
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-success w-100" asp-action="Send" asp-controller="Application" asp-route-advertId="@Model.Id">
                        BAŞVUR
                    </a>
                }
                else
                {
                    <div class="alert alert-light text-center">
                        Başvuru yapabilmek için giriş yapmanız gerekmektedir. <a asp-action="SignIn" asp-controller="Account">Giriş Yap</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>