@model List<AboutListDto>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5 fw-bolder">Advert App</h1>
                    <div class="col-auto"><a class="btn btn-primary btn-lg rounded-pill mt-5" href="#scroll">Daha Fazlası</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center" id="scroll">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>Hızlı Başvuru</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Fazla İlan</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Kolay Kullanım</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
@for (int i = 0; i < Model.Count; i++)
{
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            @*<div class="col-lg-6 @(i%2==0?"order-lg-2":"") text-white showcase-img" style="background-image: url('@Model[i].ImagePath')"></div>*@
            <div class="col-lg-6 @(i%2==0? "order-lg-2" : "") showcase-text">
                <img class="img-fluid rounded-circle" src=@Model[i].ImagePath alt="..." />
            </div>
            <div class="col-lg-6 @(i%2==0?"order-lg-1":"") my-auto showcase-text">
                <h2>@Model[i].Title</h2>
                <p class="lead mb-0">@Model[i].Description</p>
            </div>
        </div>
    </div>
</section>
}


<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>